<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ipcreator.recyclerviewtest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Fruits Roll Pick"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppleActivity" android:label="Apple"/>
        <activity android:name=".BananaActivity" android:label="Banana"/>
        <activity android:name=".OrangeActivity" android:label="Orange"/>
        <activity android:name=".WaterMelonActivity" android:label="WaterMelon"/>
        <activity android:name=".PearActivity" android:label="Pear"/>
        <activity android:name=".GrapeActivity" android:label="Grape"/>
        <activity android:name=".PineAppleActivity" android:label="PineApple"/>
        <activity android:name=".StrawBerryActivity" android:label="StrawBerry"/>
        <activity android:name=".CherryActivity" android:label="Cherry"/>
        <activity android:name=".MangoActivity" android:label="Mango"/>

    </application>

</manifest>